/* Content */
$content-size-def: 90%;
$content-size-full: 100%;
$content-size-mobile: 100%;
$content-size-tablet: 90%;
$content-size-desktop-hd: 90%;      // 1024x768
$content-size-desktop-fhd: 90%;     // 1920x1080
$content-size-desktop-2k: 90%;      // 2048x1080
$content-size-desktop-qwxga: 75%;   // 2048x1152
$content-size-desktop-wqxga: 60%;   // 2560x1440
$content-size-desktop-wqsxga: 50%;  // 3200x2048
$content-size-desktop-qhd: 40%;     // 4096x2160
$content-size-desktop-whsxga: 30%;  // 5120x4096
$content-size-desktop-shv: 20%;     // 7680x4320

/* Mobile */
$ozk-content-mobile-max-width: 900px;
$ozk-content-mobile-max-height: 700px;
$ozk-content-mobile-middle-width: 430px;
$ozk-content-mobile-middle-height: 500px;
$ozk-content-mobile-min-width: 240px;
$ozk-content-mobile-min-height: 320px;
$ozk-content-mobile-card-max-width: 1120px;
$ozk-content-mobile-card-min-width: 900px;
$ozk-content-mobile-player: 550px;