/* Content */
$content-size-def: 90%;
$content-size-full: 100%;
$content-size-mobile: 100%;
$content-size-tablet: 100%;
$content-size-desktop-hd: 90%;         // 1024x768
$content-size-desktop-fhd: 1500px;     // 1920x1080
$content-size-desktop-2k: 1660px;      // 2048x1080
$content-size-desktop-qwxga: 1160px;   // 2048x1152
$content-size-desktop-wqxga: 1160px;   // 2560x1440
$content-size-desktop-wqsxga: 1160px;  // 3200x2048
$content-size-desktop-qhd: 1160px;     // 4096x2160
$content-size-desktop-whsxga: 1160px;  // 5120x4096
$content-size-desktop-shv: 1160px;     // 7680x4320

/* Mobile */
$content-mobile-max-width: 900px;
$content-mobile-max-height: 700px;
$content-mobile-middle-width: 470px;
$content-mobile-middle-height: 500px;
$content-mobile-min-width: 240px;
$content-mobile-min-height: 320px;
$content-mobile-card-max-width: 1120px;
$content-mobile-card-min-width: 900px;
$content-mobile-tablet: 640px;