@import "./ContentSize.scss";

$radius: 8px;
$block-radius: 6px;
$input-radius: 6px;
$buttons-radius: 6px;
$checkbox-radius: 4px;
$color-blur: 12px;

$context-block-radius: 12px;
$context-btn-radius: 10px;
$context-block-blur: 12px;

$image-avatar-radius: 6px;