:root {
  --color-error: #ff0000;
  --color-warning: #ddc700;
  --color-info: #00b0e6;
  --color-success: #00ca00;
  --color-primary: #0077FF;
  --color-secondary: #61C963;
  --color-online: #61C963;
  --color-offline: #ff0000;
  --color-busy: #ddc700;
  --color-away: #ddc700;
  --color-snooze: #00b0e6;
  --color-ingame: #0077FF;

  --color-text: black;
  --color-text-sphover: white;
  --color-text-inverted: white;
  --color-text-selected: #818c99;
  --color-text-primary: #0453ad;
  --color-text-secondary: #4e4e4e;
  --color-text-link: #4e4e4e;
  --color-text-title: #4e4e4e;
  --color-text-subtitle: black;

  --color-scroll-background: white;
  --color-scroll-bar: #EDEEF0;

  --color-shimmer-background: white;
  --color-shimmer-effect: #EDEEF0;
  --color-shimmer-header-background: #0077FF;
  --color-shimmer-header-effect: #1a85ff;

  --color-navigation-icon: #ADB5BD;
  --color-navigation-hover: #e5e6e9;

  --color-background: #F7F7F7;
  --color-background-text: #000000;

  --color-separator: #dbdbdb;

  --color-header: #0077FF;
  --color-header-blur: #0077FFb0;
  --color-header-text: white;
  --color-header-icon: #e0e0e0;
  --color-header-hover: #89898914;
  --color-header-btn-hover: #ffffff14;
  --color-header-border: #0077FF;
  --color-header-block: #89898914;
  --color-header-block-hover: #89898923;

  --color-context-screen: #0808087d;
  --color-context-shadow: #0000001a;
  --color-context-shadow_screen: #0000004d;

  --color-footer: #FFFFFF;
  --color-footer-text: #1a1a1a;
  --color-footer-social: #f5f5f5;

  --color-block: #FFFFFF;
  --color-block-hover: #f9f9f9;
  --color-block-hover_a12: #d5d5d51f;
  --color-block-hover_soft: #fbfbfb;
  --color-block-blur: #ffffffa8;
  --color-block-secondary: #fbfbfb;
  --color-block-primary: #0077FF;
  --color-block-wrap: #f9f9f9;
  --color-block-text: #000000;
  --color-block-border: #cfcfcf54;

  --color-verify: #08c308;

  --color-input-background: #fafafa;
  --color-input-text: #000000;
  --color-input-border: #dce1e6;

  --color-button: #F0F0F0;
  --color-button-hover: #e5e6e9;
  --color-button-text: #7a7a7a;
  --color-button-border: #dce1e6;
  --color-button-primary: #0077FF;
  --color-button-primary-hover: #258afd;
  --color-button-secondary: #61C963;
  --color-button-secondary-hover: #78d379;
  --color-button-error: #FF396F;
  --color-button-error-hover: #fd6276;
  --color-button-warning: #FFC100;
  --color-button-warning-hover: #f8c91f;
  --color-button-info: #00b0e6;
  --color-button-info-hover: #16c1f5;
  --color-button-blur: #ffffff65;
  --color-button-blur-hover: #ffffff80;

  --color-profile-header-shadow: #ebebeb94;
}