.spin {
  -webkit-animation: spin-animation 2s linear infinite;
  -moz-animation: spin-animation 2s linear infinite;
  animation: spin-animation 2s linear infinite;
}
.spinIco::before {
  -webkit-animation: spin-animation 2s linear infinite;
  -moz-animation: spin-animation 2s linear infinite;
  animation: spin-animation 2s linear infinite;
}
@-moz-keyframes spin-animation {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin-animation {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin-animation {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

@mixin obj($w,$h,$bg) {
  width: $w;
  height: $h;
  background: $bg;
}

@mixin anim($listName,$delay){
  @each $currentBox in $listName {
    $i: index($listName, $currentBox);
    &:nth-child(#{$currentBox}) {
      animation-delay: 0.1s * $i + $delay;
    }
  }
}