.NotFound {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  font-family: sans-serif!important;
}

.NotFound_title {
  font-size: 5rem;
  line-height: 1;
  color: var(--color-primary);
}

.NotFound_desc {
  font-size: 15px;
  text-align: center;
  color: var(--color-text-secondary);
}

.NotFound_button{
  color: white!important;
  cursor: pointer;
  display: flex;
  margin-top: 15px;
  padding: 8px 14px;
  transition: .2s;
  align-items: center;
  border-radius: $button-radius;
  background-color: var(--color-button-primary);
}

.NotFound_button:hover{
  color: white!important;
  background-color: var(--color-button-primary-hover);
}