.StoreBlock{
  gap: 15px;
  width: 100%;
  display: flex;

  @media (max-width: $content-mobile-max-width){
		width: $content-size-tablet;
		flex-direction: column;
	}
}

/*
 * Left
 */
.StoreBlock_left{
  width: 20%;
  min-width: 250px;
  z-index: 1000;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  @media (max-width: $content-mobile-max-width){ width: 100%; }
}

.StoreBlock_menu{
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.StoreBlock_menu_button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-header-icon);
  flex-direction: row;
  gap: 15px;
  padding: 5px 10px;
  width: auto;
  height: 36px;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
  //backdrop-filter: blur(2px);
  @media (max-width: $content-mobile-card-max-width){
    height: 44px;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid var(--color-block-border)!important;
  }
}

.StoreBlock_menu_button:hover:not(.seload){
  transition: 0s;
  cursor: pointer;
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-text) !important;
}

.StoreBlock_menu_button.rounded{
  border: 0;
  border-radius: $block-radius;
  border: 1px solid var(--color-block-hover_a12);
}

.StoreBlock_menu_button.category{
  border: 0;
  border-left: 2px solid transparent;
}

.StoreBlock_menu:hover .StoreBlock_menu_button.category{
  border-left: 2px solid var(--color-block-hover_a12);
}

.StoreBlock_menu_button.category.selected{
  border-left: 2px solid var(--color-primary);
}

.StoreBlock_menu_button.category:hover:not(.seload){
  border: 0;
  transition: 0s;
  cursor: pointer;
  border-left: 2px solid var(--color-primary);
  color: var(--color-text) !important;
}

.StoreBlock_menu_button:hover .StoreBlock_menu_button_text{
  transition: 0s;
  color: var(--color-primary);
}

.StoreBlock_menu_button i{
  color: var(--color-primary);
}

.StoreBlock_menu_button_text{
  transition: .2s;
  margin: 0;
  overflow: hidden;
  flex-grow: 1;
  text-overflow: ellipsis;
  font-size: 13px;
  white-space: nowrap;
  font-family: sans-serif;
  user-select: none;
}

/*
 * Right
 */
.StoreBlock_right{
  width: 0;
	gap: 15px;
	flex-grow: 1;
	display: flex;
  flex-direction: column;
	@media (max-width: $content-mobile-max-width) { width: 100%; }
}

.StoreBlock_header{
  gap: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: var(--color-block);
  //border: 1px solid var(--color-block-border);
  user-select: none;
}

.StoreBlock_header_meta{
  display: flex;
  flex-direction: column;
}

.StoreBlock_header_icon{
  font-size: 18px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
}

.StoreBlock_hmeta_title{
  font-size: 14px;
  color: var(--color-text);
}

.StoreBlock_hmeta_subtitle{
  font-size: 10px;
  color: var(--color-text-selected);
}

.StoreBlock_header_buttons{
  gap: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.StoreBlock_content{
  gap: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.StoreBlock_cards{
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: flex-start;
}

.StoreBlock_cards.center{
  justify-content: center;
  align-items: center;
  align-content: center;
}

.StoreBlock_cards_message{
  font-size: 26px;
  font-weight: 500;
  color: var(--color-primary);
}

/*
 * Store Cards
 */
.StoreCard_images{
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.StoreCard_image{
  aspect-ratio: 18/5;
  flex-grow: 1;
  border-radius: $block-radius;
  background-color: var(--color-block);
  border: 1px solid var(--color-block-border);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/engine/assets/img/background.png');

  @media (max-width: $content-mobile-tablet){ width: 100%; max-width: 100%; }
}
.StoreCard_image.ar1_1{
  aspect-ratio: 1/1;
}
.StoreCard_image.ar16_9{
  aspect-ratio: 16/9;
}

/*
 * ProductBlock
 */
.ProductBlock{
  width: calc(calc(100% - 30px) / 4);
  max-width: calc(calc(100% - 30px) / 4);
  min-height: 300px;
  border-radius: $block-radius;
  background-color: var(--color-block);
  //border: 1px solid var(--color-block-border);
  transition: 0s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  @media (max-width: 1400px){ width: calc(calc(100% - 20px) / 3); max-width: calc(calc(100% - 20px) / 3); }
  @media (max-width: 900px){ width: calc(calc(100% - 10px) / 2); max-width: calc(calc(100% - 10px) / 2); }
  @media (max-width: $content-mobile-middle-width){ width: 100%; max-width: 100%; }
}
.ProductBlock.seload{ aspect-ratio: 8/10; }
.ProductBlock.mini{
  transition: .2s;
  flex-direction: row;
  aspect-ratio: unset;
  width: 100%;
  max-width: 100%;
  min-height: 140px;
}

.ProductBlock:hover:not(.seload){
  transition: 0s;
  cursor: pointer;
  background-color: var(--color-block-hover_soft);
  //border: 1px solid var(--color-primary);
  color: var(--color-text) !important;
}

.ProductBlock:hover .ProductBlock_image{
  transform: scale(1.1);
}

.ProductBlock_cover{
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  background-color: var(--color-block-secondary);
  border-bottom: 1px solid var(--color-block-border);
}
.ProductBlock.mini .ProductBlock_cover{
  border: 0;
  width: unset;
  height: 140px;
  border-right: 1px solid var(--color-block-border);
}

.ProductBlock_image{
  width: 100%;
  height: 100%;
  transition: .2s;
  background-image: url('/engine/assets/img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProductBlock_wrapper{
  gap: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.ProductBlock.mini .ProductBlock_wrapper{
  max-width: calc(100% - 140px);
}

.ProductBlock_meta{
  gap: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.ProductBlock_name{
  color: var(--color-text);
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
  font-weight: 500;
}
.ProductBlock.mini .ProductBlock_wrapper .ProductBlock_meta .ProductBlock_name{
  font-size: 15px;
  font-weight: 500;
}

.ProductBlock_price{
  color: var(--color-text);
  font-size: 90%;
  max-height: 30px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProductBlock.mini .ProductBlock_wrapper .ProductBlock_meta .ProductBlock_price{
  bottom: -35px;
}

.ProductBlock_price .price{
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
}

.ProductBlock_price .old{
  margin-left: 4px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-selected);
  text-decoration: line-through;
}

.ProductBlock_price .discount{
  color: var(--color-success);
}

.ProductBlock_buttons{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.ProductBlock.mini .ProductBlock_buttons{
  justify-content: flex-end;
  flex-direction: row;
}

.ProductBlock_cart_wrapper{
  gap: 5px;
  display: flex;
  flex-grow: 1;
  user-select: none;
}
.ProductBlock_cart_counter{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-text-selected)!important;
  cursor: pointer;
  flex-direction: row;
  gap: 15px;
  border-radius: $block-radius;
  padding: 6px 15px;
  width: auto;
  height: 34px;
  font-size: 14px;
  transition: 0.2s;
  background-color: var(--color-button);
}

.ProductBlock_button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white!important;
  cursor: pointer;
  flex-direction: row;
  gap: 15px;
  border-radius: $block-radius;
  padding: 6px 15px;
  width: auto;
  height: 34px;
  font-size: 14px;
  transition: 0.2s;
  background-color: var(--color-button-primary);
}

.ProductBlock_button:hover{
  transition: 0s;
  color: white!important;
  background-color: var(--color-button-primary-hover);
}

.ProductBlock_button.cart_added{
  color: var(--color-text)!important;
  background-color: var(--color-button);
}

.ProductBlock_button.cart_added:hover{
  color: var(--color-text)!important;
  background-color: var(--color-button-hover);
}

.ProductBlock_button.theme{
  color: var(--color-text)!important;
  background-color: var(--color-button);
}

.ProductBlock_button.theme:hover{
  color: var(--color-text)!important;
  background-color: var(--color-button-hover);
}

.ProductBlock_marks{
  gap: 5px;
  top: 5px;
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.ProductBlock_mark{
  padding: 0 5px;
  font-size: 12px;
  border-radius: 6px;
  color: var(--color-text);
  background-color: var(--color-block-blur);
  border: 1px solid var(--color-block-border);
  backdrop-filter: blur(2px);
}

.ProductBlock_mark.sale{
  color: white;
  background-color: var(--color-primary);
}

.ProductBlock_mark.discount{
  color: white;
  background-color: var(--color-secondary);
}

/*
 * Cart Info
 */
.CartInfo{
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  align-items: flex-end;
  //background-color: var(--color-block);
  //border: 1px solid var(--color-block-border);
}

.CartInfo_row{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.CartInfo_row_name{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-primary);
  text-align: end;
}

.CartInfo_row_data{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-text);
}

.CartInfo_price{
  color: var(--color-text);
  font-size: 90%;
  max-height: 30px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 8px;
  display: flex;
  align-items: flex-start;
}

.CartInfo_price .price{
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-text);
}

.CartInfo_price .old{
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-selected);
  text-decoration: line-through;
}

/*
 * Store Product Info
 */
.StoreProduct_wrap_container{
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @media (max-width: $content-mobile-max-width){ flex-direction: column; align-items: unset; }
}

.StoreProduct_container{
  gap: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-block);
  //border: 1px solid var(--color-block-border);
}

.StoreProduct_content{
  gap: 15px;
  display: flex;
  flex-direction: row;
  @media (max-width: $content-mobile-tablet){ flex-direction: column; }
}

.StoreProduct_content_left{
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.StoreProduct_content_right{
  gap: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.StoreProduct_header{
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.StoreProduct_meta{
  gap: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.StoreProduct_buttons{
  gap: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.StoreProduct_buttons.price{
  justify-content: center;
  @media (max-width: $content-mobile-max-width){ justify-content: start; }
}

.StoreProduct_marks{
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.StoreProduct_name{
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-text);
}

.StoreProduct_wrapper{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.StoreProduct_image_wrap{
  gap: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: $block-radius;
  border: 1px solid var(--color-block-border);
}

.StoreProduct_images{
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.StoreProduct_image{
  transition: .3s;
  width: 20vw;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/engine/assets/img/background.png');

  @media (max-width: $content-mobile-tablet){ width: 100%; max-width: 100%; }
}

.StoreProduct_image:hover{
  transition: .2s;
  transform: scale(1.5);
}

.StoreProduct_row{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.StoreProduct_row_name{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-primary);
}

.StoreProduct_row_data{
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-text);
}

.StoreProduct_price{
  color: var(--color-text);
  font-size: 90%;
  max-height: 30px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 8px;
  display: flex;
  align-items: flex-start;
}

.StoreProduct_price .price{
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-text);
}

.StoreProduct_price .old{
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-selected);
  text-decoration: line-through;
}

/*
 * Price Panel
 */
 .PricePanel{
  width: 400px;
  min-width: 400px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-block);
  //border: 1px solid var(--color-block-border);
  @media (max-width: $content-mobile-max-width){ width: 100%; min-width: 100%; }
}

.PricePanel_header{
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PricePanel_text_vendor_code{
  flex-grow: 1;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text);
}

.PricePanel_text_low_price{
  gap: 5px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: var(--color-text-selected);
}

.PricePanel_text_low_price i{
  font-size: 14px;
  color: var(--color-secondary);
}

.PricePanel_row{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.PricePanel_row_name{
  gap: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-text);
}

.PricePanel_row_name i{
  margin-right: 5px;
  font-size: 16px;
  color: var(--color-primary);
}

.PricePanel_row_name span{
  font-weight: 600;
  color: var(--color-primary);
}

.PricePanel_row_data{
  gap: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: sans-serif;
  color: var(--color-text-selected);
}

.PricePanel_row_data i{
  margin-right: 5px;
  font-size: 16px;
  color: var(--color-primary);
}

.PricePanel_row_data span{
  font-weight: 600;
  color: var(--color-primary);
}

.StoreProduct_buttons.price .StoreBlock_menu_button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--color-button-primary);
}
.StoreProduct_buttons.price .StoreBlock_menu_button .StoreBlock_menu_button_text{
  color: white;
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  flex-grow: unset;
  width: fit-content;
}
.StoreProduct_buttons.price .StoreBlock_menu_button:hover{
  background-color: var(--color-button-primary-hover);
}
.StoreProduct_buttons.price .StoreBlock_menu_button:hover .StoreBlock_menu_button_text{
  color: white!important;
}
.StoreProduct_buttons.price .StoreBlock_menu_button i{
  color: white!important;
}


/*
 * Order Card
 */
.OrderCard_products{
  padding: 20px 0 10px 0;
  gap: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.OrderCard_product{

}

.OrderCard_image_wrap{
  gap: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: $block-radius;
  border: 1px solid var(--color-block-border);
  position: relative;
}

.OrderCard_image{
  cursor: pointer;
  transition: .3s;
  width: 100px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/engine/assets/img/background.png');

  @media (max-width: $content-mobile-tablet){ width: 100%; max-width: 100%; }
}

.OrderCard_image:hover{
  transform: scale(1.1);
}