.lgn_dostup_text {
	/*height: 30px;*/
	margin-left: 5px;
}

.lgn_dostup {
	display: flex;
	line-height: 30px;
	margin-bottom: 5px;
}

.lgn_dostup_ico {
	background-color: var(--color-secondary)  !important;
	height: 30px;
	width: 30px;
	text-align: center;
	font-size: 15px;
	line-height: 32px;
	border-radius: 50%;
}

.lgn_container {
	background-color: var(--color-background);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	gap: 100px;

	@media (min-height: 1152px) {
		align-items: flex-end
	}
}

.lgn_panel_left {
	width: 500px;
	height: 650px;
	position: relative;
	align-items: center;
	display: grid;
	gap: 10px;

	@media (min-height: 1152px) {
		margin-bottom: 100px;
	}
}

.lgn_panel_right {
	gap: 10px;
	width: 400px;
	height: 600px;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;

	@media (min-height: 1152px) {
		margin-bottom: 100px;
	}
}

.lgn_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.04), 0 4px 20px 0px rgba(0, 0, 0, 0.25);*/
}

.lgn_language {
	gap: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
	bottom: -40px;
	padding: 10px;
}

/* Left */
.lgn_content_image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Right */
.lgn_header {
	width: 100%;
	height: 60px;
	background: var(--color-block-secondary);
	border-top-left-radius: $input-radius;
	border-top-right-radius: $input-radius;
	padding: 0 20px;
	display: grid;
	align-items: center;
	border-radius: $block-radius $block-radius 0 0;
}

.lgn_headertext {
	width: 100%;
	height: 24px;
	font-size: 1.17em;
	font-weight: bold;
	line-height: 1.5;
	color: var(--color-text);
	text-align: center;
}

.lgn_body {
	width: 100%;
	flex-grow: 1;
	padding: 20px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	background: var(--color-block-secondary);
}

.lgn_footer {
	width: 100%;
	height: 40px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-block-secondary);
}

.lgn_btn_back{
	cursor: pointer;
	background-color: var(--color-block);
	color: var(--color-text-secondary);
	border-radius: 50%;
	padding: 10px;
	position: absolute;
	left: 20px;
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lgn_btn_back:hover{
	background-color: var(--color-background);
}

.lgn_btn_back i {
	display: flex;
}

.lgn_body_container {
	width: 100%;
}

.lgn_input_content_ico {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0 auto;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.lgn_input_container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.lgninput {
	font-family: sans-serif;
	font-size: 13px;
	line-height: 1.2;
	display: block;
	outline: none;
	transition: 0.3s;
	border: 1px;
	border-color: var(--color-input-border);
	border-style: double;
	color: var(--color-input-text);
	margin: 0;
	min-width: 0;
	background: none;
	background-color: var(--color-input-background);
	width: 100%;
	padding: 8px 12px;
	border-radius: 6px;
}

.lgninput:focus {
	border-color: var(--color-primary);
}

.lgninput.err:focus {
	border-color: var(--color-error)!important;
}

.lgninputlogin {
	color: var(--color-input-text);
	font-size: 12px;
	font-family: Brutal, sans-serif;
	font-weight: 600;
	line-height: 10px;
	letter-spacing: 0.5px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
	-ms-user-select: text;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
}

.lgncheckbox {
	width: 20px;
	height: 20px;
	border: 2px solid #E8E8EB;
	background: #ebe9e8;
	border-radius: 4px;
	transform: translate3d(0, 0, 0);
	cursor: pointer;
	transition: all .3s ease;
}

.lgncheckbox:hover {
	border-color: var(--color-primary);
}

.lgnbutton {
	cursor: pointer;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.2;
	display: block;
	outline: none;
	transition: 0.3s;
	border-style: unset;
	color: white;
	height: 35px;
	margin: 0;
	padding: 8px 15px 3px 15px;
	min-width: 0;
	background: none;
	background-color: var(--color-primary);
	border-radius: 6px;
	padding: 8px 12px;
	width: 100%;
	user-select: none;
}

.lgnbutton:hover {
	background-color: var(--color-button-primary);
}

.lgnbutton.light {
	color: var(--color-text);
	background-color: var(--color-button);
}

.lgnbutton.light:hover {
	background-color: var(--color-button-hover);
}

.lgnbutton.error:hover {
	background-color: var(--color-error) !important;
}

.end {
	text-align: end;
}

.center {
	text-align: center;
}

.sevenb {
	color: var(--color-text-secondary);
}

.white {
	color: var(--color-text);
}

.red {
	color: var(--color-error);
}

.lgninputor {
	font-size: 12px;
	letter-spacing: 0.5px;
	margin: 0;
	overflow: hidden;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	color: #cbcbcb;
}

.lgninputtext {
	font-size: 12px;
	letter-spacing: 0.5px;
	margin: 0;
	overflow: hidden;
	font-weight: 400;
	line-height: 1.5;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}

.hovergreen:hover {
	color: var(--color-primary);
}

.lgnspecialfont {
	font-size: 14px;
	font-weight: 600;
}

.lgnLogo {
	width: 70px;
	height: 70px;
	margin: 5px auto;
}

.lgnProfile {
	width: 65px;
	height: 65px;
	margin: 20px auto;
	border-radius: 100%;
}

@media (max-height: 700px),
(max-width: 1100px) {
	.lgn_content {
		width: 100%;
		height: 100%;
		align-items: stretch;
	}

	.lgn_panel_left,
	.lgn_language {
		display: none;
	}

	.lgn_panel_right {
		width: 100%;
		height: 100%;
	}

	.lgn_body {
		height: calc(100% - 100px);
	}

	.lgn_body_container {
		width: 100%;
	}

	.lgn_header,
	.lgn_footer {
		border-radius: 0;
	}
}