.accordion-button{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--color-text);
  text-align: left;
  background-color: var(--color-block);
  border: 0px solid var(--color-block-border);
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
}
.accordion-button:hover, .accordion-button:not(:hover):focus{
  background-color: var(--color-button);
}
.accordion-button:hover, .accordion-button:focus, .accordion-button:not(.collapsed) {
  background-color: var(--color-button);
  color: var(--color-text);
  border: 0;
}
.accordion-flush .accordion-collapse{
  color: var(--color-text);
  background-color: var(--color-block);
}